body {
  background-color: #faf2bb;
  margin: 0 15%;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: verdana;
  font-weight: normal;
  margin-top: 5px;
  
}

table {
  text-align: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin-top: 15px;
}

tr {
  height: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 16px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit], button {
  width: 48%;
  padding: 10px 16px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}

.buttonclass {
  width: 48%;
  padding: 10px 16px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
  height:200px;
  margin-top: 5px;
}

.tableborder {
  border-collapse: collapse;
}
			
.topnav {
  overflow: hidden;
  background-color: #aaa;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eee;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.rangeslider{ 
    width: 50%; 
} 
  
.myslider { 
    -webkit-appearance: none; 
    
    width: 198%; 
    height: 40px; 
    opacity: 2; 
	 border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
   } 
  
.myslider::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    cursor: pointer; 
    background: #aaa  ; 
    width: 5%; 
    height: 40px; 
} 
  
.myslider:hover { 
    opacity: 1; 
} 